<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>

        <link rel="icon" type="image/png" href="/image/logo.png">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

        <title>Konseki</title>

    </head>
    <body>
        <div class="bghome">
            <div class="row">
                <div class="container con1">
                    <div class="col-md-4"> 
                        <h1 class="title">Welcome to <b style="color: #e6ff99;">Konseki</b></h1>
                        <h4 style="color: #e6ff99;">A Contact Tracing Recorder Web Application.</h4>
                    </div>

                    <div class="col-md-8" style="padding-top: 5%;">
                        <a href="admin/user" class="button"><i class="fa fa-group"></i> User Panel</a>
                        <a href="admin/admin" class="button"><i class="fa fa-server"></i> Admin Panel</a>
                    </div>

                </div>
            </div>

           
        </div>
    </body>
</html>